package views

import (
	"encoder/app"
	"encoder/layouts"
)

templ Index(Error error, Title string) {
	@layouts.Default(Error, Title) {
		<div>Hello, the server is running on Port { app.Port }</div>
	}
}
